/* Contacto */
form {
    width: 50%;
    border: 2px solid rgb(143, 143, 143);
    border-radius: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
     .form-label {
        color: rgb(51, 51, 51);
        font-size: larger;
        font-weight: 500;
        font-family: 'Oswal';
    }
    .btn{
        background-color: #ff8d00;
    }
}


